@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["PageTitle"];
}

<header>
    <h1 class="text-danger">@Localizer["LockedOut"]</h1>
    <p class="text-danger">@Localizer["LockedOutMessage"]</p>
</header>
