@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h1>@ViewData["Title"].</h1>
<p>
    @Localizer["ResetMessage"]
</p>
